<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <% if (htmlWebpackPlugin.options.isDevelopment) { %>
        <a href="index.html">
            BACK
        </a>
    <% } %>
    <h1>Mi sitio web</h1>
    <h2>
        <%= htmlWebpackPlugin.options.isDevelopment %>
    </h2>
    <div class="Panel">
        Esto es un panel
    </div>
    <div class="Panel Panel-destacado">
        Esto es un panel destacado
    </div>
</body>

</html>