.c-featured-item {
    $self: &;
    display: flex;
    flex-direction: column;
    padding: 40px $mobile-padding 0;

    &:nth-child(even) {

        @include media-breakpoint(sm) {
            padding: 40px 20px 0 40px;
            border-left: 1px solid $color-black;
        }

        @include media-breakpoint(lg) {
            padding: 60px 40px 0 60px;
        }

        @include media-breakpoint(xl) {
            padding: 100px 80px 0 100px;
        }
    }

    &:nth-child(odd) {

        @include media-breakpoint(sm) {
            padding: 40px 40px 0 20px;
        }

        @include media-breakpoint(lg) {
            padding: 60px 60px 0 40px;
        }

        @include media-breakpoint(xl) {
            padding: 100px 80px 0 100px;
        }
    }

    &__media {
      margin-bottom: 20px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &__breadcrumb {
        margin-bottom: 10px;
        font-size: rem(12);

        @include media-breakpoint(sm) {
            font-size: rem(11);
        }

        @include media-breakpoint(md) {
            font-size: rem(12);
        }

        @include media-breakpoint(lg) {
            font-size: rem(14);
        }

        @include media-breakpoint(xl) {
            margin: 40px 0 15px;
            font-size: rem(24);
        }
    }

    &__title {
        font-weight: $font-weight-bold;
        font-size: rem(32);

        &--helper {
            font-size: rem(15);
            font-weight: $font-weight-regular;

            @include media-breakpoint(md) {
                font-size: rem(16);
            }

            @include media-breakpoint(lg) {
                font-size: rem(22);
            }

            @include media-breakpoint(xl) {
                font-size: rem(40);
            }
        }

        @include media-breakpoint(sm) {
            font-size: rem(28);
        }

        @include media-breakpoint(md) {
            font-size: rem(32);
        }

        @include media-breakpoint(lg) {
            font-size: rem(36);
        }

        @include media-breakpoint(xl) {
            font-size: rem(64);
        }
    }

    &__description {
        padding: 10px 0 15px;
        font-size: rem(16);

        @include media-breakpoint(sm) {
            font-size: rem(15);
        }

        @include media-breakpoint(md) {
            font-size: rem(18);
        }

        @include media-breakpoint(lg) {
            font-size: rem(22);
        }

        @include media-breakpoint(xl) {
            font-size: rem(40);
        }
    }

    &__cta {

        @include media-breakpoint(sm) {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            flex-grow: 1;
            padding: 20px 0 40px;
        }

        @include media-breakpoint(md) {
            padding-top: 40px;
        }

        @include media-breakpoint(lg) {
            padding: 24px 0 60px;
        }

        @include media-breakpoint(xl) {
            padding: 50px 0 100px;
        }
    }

    &__more {
        display: inline-flex;
        margin: 10px 0 30px;
        font-size: rem(12);
        font-weight: $font-weight-bold;

        @include media-breakpoint(sm) {
          margin: 18px 0 18px;
        }

        @include media-breakpoint(md) {
            font-size: rem(16);
        }

        @include media-breakpoint(xl) {
            font-size: rem(28);
        }
    }

    &__more-arrow {
      display: flex;
      align-items: center;
      width: 20px;
      margin-left: 10px;

      @include media-breakpoint(xl) {
        width: 35px;
        margin-left: 15px;
      }
    }

    &__btn {

        @include media-breakpoint(sm) {
            width: 130px;
            font-size: rem(14);
        }

        @include media-breakpoint(md) {
            width: 190px;
            font-size: rem(16);
        }

        @include media-breakpoint(lg) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 0;
            width: 198px;

            &:hover {
              align-items: unset;
              padding-right: 12px;
              color: $color-white;
              background-color: $color-primary;
              border: none;

              #{ $self }__btn-price {
                display: flex;
                width: 90px;
              }
            }
        }

        @include media-breakpoint(xl) {
            width: 350px;
            font-size: rem(26);
        }
    }

    &__btn-price {
      display: none;
      justify-content: center;
      align-items: center;
      width: 0;
      height: 100%;
      transition: width 1s;
      background-color: $color-black;
      color: $color-white;
    }

    &--last {
        padding: 40px 0;

        &:nth-child(odd) {

            @include media-breakpoint(sm) {
                padding: 0;
            }
        }

        @include media-breakpoint(sm) {
          @include position(relative, $left: -20px);
            flex-direction: row;
            grid-column: 1 / 3;
            width: calc(100% + 40px);
            padding: 0;
            border-top: 1px solid $color-black;
        }

        #{ $self }__media {

            @include media-breakpoint(sm) {
                width: calc(50% + 4px);
                margin-bottom: 0;
                border-right: 1px solid black;
            }
        }

        #{ $self }__text {
            padding: 0 20px;

            @include media-breakpoint(sm) {
                width: 50%;
                padding: 40px;
            }

            @include media-breakpoint(md) {
                display: flex;
                flex-direction: column;
            }

            @include media-breakpoint(lg) {
                padding: 60px;
            }

            @include media-breakpoint(xl) {
                padding: 100px;
            }
        }

        #{ $self }__breadcrumb {

            @include media-breakpoint(sm) {
                margin-top: 0;
            }
        }

        #{ $self }__description {

            @include media-breakpoint(md) {
                padding-top: 20px;
            }

            @include media-breakpoint(xl) {
                padding-top: 40px;
            }
        }

        #{ $self }__cta {

            @include media-breakpoint(sm) {
                padding-bottom: 0;
            }

            @include media-breakpoint(md) {
                flex-grow: 1;
                align-items: flex-end;
            }
        }

        #{ $self }__more-arrow {
          @include position(relative, $top: -3px);
          display: block;
          width: 20px;
          margin-left: 10px;

          @include media-breakpoint(xl) {
            width: 35px;
            top: -8px;
            margin-left: 15px;
          }
        }
    }

    &--small {
        padding: 40px 0 0;

        &:nth-child(-n+3) {
            border-top: none;
        }

        &:nth-child(even) {
            @include media-breakpoint(sm) {
                border-left: none;
            }
        }

        &:nth-child(3n+1),
        &:nth-child(3n+3) {

            @include media-breakpoint(sm) {
                padding: 20px 20px 0;
            }

            @include media-breakpoint(lg) {
                padding: 40px 40px 0;
            }

            @include media-breakpoint(xl) {
                padding: 80px 80px 0;
            }
        }

        &:nth-child(3n+2) {
            @include media-breakpoint(sm) {
                padding: 20px 19px 0;
                border-right: 1px solid $color-black;
                border-left: 1px solid $color-black;
            }

            @include media-breakpoint(lg) {
                padding: 40px 39px 0;
            }

            @include media-breakpoint(xl) {
                padding: 80px 79px 0;
            }
        }

        @include media-breakpoint(sm) {
            display: flex;
            flex-direction: column;
            padding: 20px 20px 0;
            border-top: 1px solid $color-black;
        }

        #{ $self }__media {
            margin-bottom: 10px;

            @include media-breakpoint(sm) {
                margin-bottom: 20px;
            }

            @include media-breakpoint(lg) {
                margin-bottom: 40px;
            }
        }

        #{ $self }__text {
            display: flex;
            flex-direction: column;
            height: calc(100% - 166px);

            @include media-breakpoint(sm) {
                height: calc(100% - 236px);
            }

            @include media-breakpoint(md) {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                height: calc(100% - 320px);
            }

            @include media-breakpoint(lg) {
                height: calc(100% - 420px);
            }

            @include media-breakpoint(md) {
                height: calc(100% - 732px);
            }
        }

        #{ $self }__breadcrumb {
            margin: 0;
            font-size: rem(9);

            @include media-breakpoint(sm) {
                font-size: rem(10);
            }

            @include media-breakpoint(md) {
                font-size: rem(12);
            }

            @include media-breakpoint(lg) {
                font-size: rem(14);
            }

            @include media-breakpoint(xl) {
                font-size: rem(22);
            }
        }

        #{ $self }__title {
            font-size: rem(18);

            @include media-breakpoint(md) {
                font-size: rem(30);
            }

            @include media-breakpoint(lg) {
                font-size: rem(36);
            }

            @include media-breakpoint(xl) {
                font-size: rem(72);
            }

            &:nth-child(2) {
                margin-top: 10px;

                @include media-breakpoint(lg) {
                    margin-top: 20px;
                }

                @include media-breakpoint(xl) {
                    margin-top: 18px;
                }
            }

            &--helper {
                font-size: rem(14);

                @include media-breakpoint(md) {
                    font-size: rem(15);
                }

                @include media-breakpoint(lg) {
                    font-size: rem(22);
                }

                @include media-breakpoint(xl) {
                    font-size: rem(32);
                }
            }
        }

        #{ $self }__cta {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 100%;
            margin-top: 20px;

            @include media-breakpoint(sm) {
                flex-grow: 1;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                padding-top: 0;
            }

            @include media-breakpoint(md) {
                margin-top: 40px;
            }

            @include media-breakpoint(xl) {
                margin-top: 80px;
            }
        }

        #{ $self }__more {
            margin: 10px 0 40px;
            font-size: rem(10);

            @include media-breakpoint(sm) {
                margin: 0 0 50px;
                font-size: rem(12);
            }

            @include media-breakpoint(md) {
                margin: 0 0 30px;
            }

            @include media-breakpoint(lg) {
                font-size: rem(16);
            }

            @include media-breakpoint(xl) {
                font-size: rem(24);
            }
        }

        #{ $self }__more-arrow {
            @include position(relative, $top: -2px);
            display: block;
            width: 20px;
            margin-left: 10px;

            @include media-breakpoint(lg) {
              top: -3px;
            }

            @include media-breakpoint(xl) {
              top: -6px;
              width: 35px;
            }
        }

        #{ $self }__btn {
            padding: unset;
            height: 50px;
            font-size: rem(14);

            @include media-breakpoint(sm) {
                width: 100%;
                height: 54px;
            }

            @include media-breakpoint(md) {
                font-size: rem(16);
                height: 60px;
            }

            @include media-breakpoint(lg) {
                font-size: rem(18);
            }

            @include media-breakpoint(xl) {
                height: 118px;
                font-size: rem(32);
            }
        }
    }

    &--featured {

        @include media-breakpoint(sm--max) {
            grid-column: 1 / 3;
            padding: 40px 0 0;

            #{ $self }__media {
                margin-bottom: 20px;
            }

            #{ $self }__text {
                display: flex;
                flex-direction: column;
            }

            #{ $self }__breadcrumb {
                font-size: rem(12);
            }

            #{ $self }__title {
              font-size: rem(32);

              &--helper {
                  font-size: rem(16);
              }
            }
            
            #{ $self }__cta {
              flex-direction: column;
              align-items: flex-start;
              flex-grow: 1;
              padding: 15px 0 0;
            }
        }
    }

}
