.c-modal {
    @include position(fixed, 0, 0, 0, 0);
    z-index: 5;
    display: flex;
    align-items: center;
    max-width: 854px;
    width: 100%;
    height: 100%;
    margin: auto;
    visibility: hidden;
    opacity: 0;
    transition: all .25s ease;

    @include media-breakpoint(md) {
        max-height: 85vh;
    }

    &.is-active {
        visibility: visible;
        opacity: 1;
        transition: all .25s ease;
    }

    &--small {
        max-width: 420px;
    }

    &--large {
        max-width: 960px;
    }

    &__wrapper {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 50px 10px 0;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        background-color: $color-white;

        @include media-breakpoint(md) {
            overflow-y: auto;
            height: auto;
            max-height: 85vh;
            padding: 70px 50px 0 50px;
        }
    }

    &__bglayer {
        @include media-breakpoint(md) {
            @include position(fixed, 0, 0, 0, 0);
            z-index: 4;
            width: 100%;
            height: 100%;
            background-color: #001720;
            visibility: hidden;
            opacity: 0;
            transition: all .25s ease;

            &.is-active {
                visibility: visible;
                opacity: .3;
                transition: all .25s ease;
            }
        }
    }

    &__close {
        @include position(absolute, $top: 15px, $right: 15px);
        width: 16px;
        height: 16px;
        display: block;
        cursor: pointer;
        background-color: transparent;

        &:before,
        &:after {
            content: '';
            background-color: $title-color-active;
            display: block;
            width: 100%;
            height: 2px;
            position: absolute;
            left: 0;
        }

        &:before {
            transform: rotate(-45deg);
        }

        &:after {
            transform: rotate(45deg);
        }

        @include media-breakpoint(md) {
            top: 20px;
            right: 20px;
        }
    }

    &__cancel {
    }

    &__title {
    }

    &__text {
    }
}

