.c-home-featured {
    position: relative;
    overflow: hidden;
    height: 100vh;
    color: $color-white;

    @include media-breakpoint(sm) {
        height: 768px;
    }

    @include media-breakpoint(lg) {
        height: 960px;
    }

    @include media-breakpoint(xl) {
        height: 1708px;
    }

    &__media {
        @include position(absolute, $top: 0, $right: 0, $bottom: 0, $left: 0);
    }

    &__text {
        @include position(absolute, $top: null, $right: 20px, $bottom: 150px, $left: 20px);

        @include media-breakpoint(sm) {
            @include position(absolute, $top: null, $right: 33%, $bottom: 150px, $left: 40px);
            max-width: 450px;
        }

        @include media-breakpoint(md) {
            @include position(absolute, $top: null, $right: 33%, $bottom: 198px, $left: 40px);
            max-width: 460px;
        }

        @include media-breakpoint(lg) {
            @include position(absolute, $top: null, $right: 33%, $bottom: 254px, $left: 40px);
            max-width: 690px;
        }

        @include media-breakpoint(xl) {
            @include position(absolute, $top: null, $right: 33%, $bottom: 455px, $left: 40px);
            max-width: 1240px;
        }
    }

    &__breadcrumb {
        font-size: rem(12);
        margin-bottom: 10px;

        @include media-breakpoint(sm) {
            font-size: rem(11);
        }

        @include media-breakpoint(lg) {
            font-size: rem(14);
        }

        @include media-breakpoint(xl) {
            font-size: rem(22);
            margin-bottom: 20px;
        }

    }

    &__title {
        font-size: rem(30);
        font-weight: $font-weight-bold;

        @include media-breakpoint(sm) {
            font-size: rem(34);
        }

        @include media-breakpoint(md) {
            font-size: rem(38);
        }

        @include media-breakpoint(lg) {
            font-size: rem(48);
        }

        @include media-breakpoint(xl) {
            font-size: rem(85);
        }

        &--helper {
            font-size: rem(15);
            font-weight: $font-weight-regular;

            @include media-breakpoint(md) {
                font-size: rem(16);
            }

            @include media-breakpoint(lg) {
                font-size: rem(22);
            }

            @include media-breakpoint(xl) {
                font-size: rem(38);
            }
        }
    }

    &__description {
        margin: 10px 0 20px;
        font-size: rem(15);

        @include media-breakpoint(sm) {
            margin: 30px 0 40px;
            font-size: rem(16);
        }

        @include media-breakpoint(md) {
            margin: 40px 0 60px;
        }

        @include media-breakpoint(lg) {
            font-size: rem(22);
        }

        @include media-breakpoint(xl) {
            margin: 60px 0 100px;
            font-size: rem(38);
        }
    }

    &__more-info {
        display: flex;
        font-size: rem(12);
        font-weight: $font-weight-bold;

        @include media-breakpoint(sm) {
            font-size: rem(15);
        }

        @include media-breakpoint(lg) {
            font-size: rem(16);
        }
    }

    &__arrow {
        display: flex;
        align-items: center;
        flex-grow: 1;
        margin-left: 15px;
        margin-top: 2px;

        @include media-breakpoint(sm) {
            margin-left: 20px;
            margin-top: 5px;
        }

        @include media-breakpoint(lg) {
            margin-left: 40px;
        }
    }

    &__scroll {
        display: none;

        @include media-breakpoint(sm) {
            display: flex;
            align-items: center;
            transform: rotate(90deg);
            @include position(absolute, $top: calc(50% - 25px), $right: 0);
        }
    }

    &__scroll-text {
        display: block;
        margin-right: 14px;
        font-size: rem(9);
        font-weight: $font-weight-bold;
        letter-spacing: .5px;
        text-transform: uppercase;

        @include media-breakpoint(xl) {
            font-size: rem(16);
        }
    }

    &__scroll-svg {
        width: 15px;
        transform: rotate(270deg);

        @include media-breakpoint(xl) {
            width: 28px;
        }
    }

    &__brand {
        display: block;
        @include position(absolute, $right: 20px, $bottom: -12px, $left: 20px);

        @include media-breakpoint(sm) {
            width: 255px;
            right: unset;
            bottom: 40px;
            left: 40px;
        }

        @include media-breakpoint(md) {
            width: 300px;
        }

        @include media-breakpoint(lg) {
            bottom: 50px;
            left: 60px;
            width: 400px;
        }

        @include media-breakpoint(xl) {
            width: 600px;
            left: 100px;
            bottom: 100px;
        }

        &--right {
            display: none;

            @include media-breakpoint(sm) {
                display: block;
                height: 60px;
                width: 140px;
                right: 40px;
                bottom: 35px;
                left: unset;
            }

            @include media-breakpoint(md) {
                width: 185px;
                height: 85px;
            }

            @include media-breakpoint(lg) {
                right: 60px;
                bottom: 60px;
            }

            @include media-breakpoint(xl) {
                right: 100px;
                bottom: 100px;
                width: 330px;
                height: 144px;
            }
        }
    }
}
