.o-button {
    width: 100%;
    cursor: pointer;
    outline: none;
    padding: $mobile-padding 0 $mobile-padding;
    background-color: $color-primary;
    height: 60px;
    font-size: rem(16);
    font-weight: $font-weight-bold;
    text-align: center;
    color: $color-white;

    @include media-breakpoint(sm) {
        height: 54px;
    }

    @include media-breakpoint(md) {
        height: 60px;
        color: $color-black;
        background-color: $background-color-default;
        border: 1px solid $color-black;
    }

    @include media-breakpoint(lg) {
        font-size: rem(18);
    }

    @include media-breakpoint(xl) {
        height: 100px;
        font-size: rem(32);
    }

    &:hover {
        background-color: $link-hover-color;
        color: $color-white;
    }

/**
    * Ghost buttons have see-through backgrounds and are bordered.
*/

    &--ghost {
        border: 1px solid $link-hover-color;
        background-color: $color-transparent;
        color: $link-hover-color;

        &:hover {
            background-color: $color-text-default;
            color: $color-white;
        }
    }
}

