// Colors

// #text
$color-text-default: #1d1c1c;
$color-text-error: #e02020;

// #common
$color-primary: #e02020;
$color-secondary: #999999;
$color-black: #000000;
$color-gray: #d8d8d8;
$color-white: #ffffff;
$color-transparent: transparent;
$color-disable: #edeff1;

// Fonts

$font-size: 16;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-secondary: 'miller-text', sans-serif;
$font-weight-base: normal;
$line-height-base: 1.5;

// Paddings

$mobile-padding: 20px;
$tablet-padding: 30px;
$desktop-padding: 40px;
$hd-padding: 80px;

// Links

$link-decoration: none;
$link-color: $color-black;
$link-hover-color: $color-black;
$link-hover-decoration: none;

// Options

$radio-size-sm: 20px;
$radio-size-md: 16px;
$checkbox-size-sm: 20px;
$checkbox-size-md: 16px;

