.o-radio {
    &__label {
        font-family: $font-family-base;
        font-weight: $font-weight-regular;
        font-size: rem(12);
        color: $text-color-default;
        line-height: rem(18);

        @include media-breakpoint(md) {
            font-size: rem(14);
        }
    }
}

